#client {
  margin-top: 60px;
  padding: 20px;
  .params{
    padding: 10px 0;
    line-height: 28px;
    .icon-button{
      font-size: 16px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
