#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: 20px;
  padding-right: 80px;
  background-color: #DD8C69;
  z-index: 999;
  .logoArea {
    width: 140px;
    background: #C3714D;
    height: 60px;
    text-align: center;
    position: absolute;
    left:0;
    img{
      margin-top: 15px;
    }
  }
  a {
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
    margin: 10px 30px 10px 0;
    padding: 0 15px;
    height: 40px;
    text-align: center;
    float: right;
    transition: all .2s;
    &.active, &:hover {
      background: rgba(255, 255, 255, .28);
      border-radius: 2px;
      color: #ffffff;
    }
    & > i {
      margin-right: 5px;
    }
  }
}
